<ion-header>

	<ion-navbar color="dark">

			<button ion-button menuToggle icon-only>
				<ion-icon name="menu" color="Rouge"></ion-icon>
			</button>

		<ion-title>{{'UPDATEPOST' | translate}}</ion-title>

	</ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="post">

    <wordpress-feature-media [hidden]="photoUploaded === true" *ngIf="post.featured_media" [id]="post.featured_media"></wordpress-feature-media>

    <button [hidden]="photoUploaded === true " ion-button color="Rouge" icon-right full (click)="takePhoto()" >
      Modifier la Photo <ion-icon name="camera" ></ion-icon>
    </button>

    <ion-grid>
      <ion-row>
        <ion-col col-12 *ngFor="let photo of photos; let id = index">
          <ion-card class="block">
            <ion-icon  [hidden]="photoUploaded === true" name="trash" class="deleteIcon" (click)="deletePhoto(id)" ></ion-icon>
            <img [src]="photo" *ngIf="photo" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button [hidden]="photoUploaded === true " ion-button color="Rouge" icon-right full *ngIf="lastImage === true" (click)="uploadPhoto()" >
      Choisir cette Photo <ion-icon name="cloud-upload" ></ion-icon>
    </button>

    <ion-row [hidden]="formtitle === true " class="block2" >

      <ion-grid>
        <ion-row>
        <ion-col col-10>
          Titre : <h1 class="titre"[innerHTML]="post.title.rendered"></h1>
        </ion-col>

        <ion-col col-2>
        <ion-icon name="create" color="Rouge" class="createIcon" (click)="opentitle()" ></ion-icon>
        </ion-col>
        </ion-row>
      </ion-grid>

    </ion-row>

    <ion-card-content text-wrap *ngIf="post.content.rendered" [hidden]="formtitle === true ">
      <ion-row no-padding>
        <ion-col>
         Description :  <p padding [innerHtml]="post.content.rendered"></p>
        </ion-col>
      </ion-row>
    </ion-card-content>


    <form (ngSubmit)="updateNews(post.id)">

      <ion-item *ngIf="formtitle === true">
        <ion-label stacked >titre</ion-label>
        <ion-input type="text" placeholder="Nouveau titre" [(ngModel)]="title" name="title"></ion-input>
      </ion-item>

      <ion-item *ngIf="formtitle === true">
        <ion-label stacked >Description</ion-label>
        <ion-textarea placeholder="Nouvelle description " [(ngModel)]="content" name="content"></ion-textarea>
      </ion-item>

      <!--<div padding >-->
        <!--<button ion-button  color="Rouge" type="submit" block >{{ 'UPDATE' | translate }}</button>-->
      <!--</div>-->
    </form>

    <ion-row *ngIf="user" no-padding class="rowcolor">

      <ion-grid>

        <ion-row>
          <ion-col col-6 text-left>
            <button ion-button icon-left clear type="submit" color="Rouge" (click)="updateNews(post.id)">
              <ion-icon name='cloud-upload' color="Rouge"></ion-icon>
              <!--{{'UPDATE' | translate}}-->ENREGISTRER
            </button>
          </ion-col>

          <ion-col col-6 text-center>
            <button ion-button icon-left clear color="Rouge" (click)="goToPosts()">
              <ion-icon name='undo' color="Rouge"></ion-icon>
              {{'UNDO' | translate}}
            </button>
          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-row>


  </ion-card>


</ion-content>
