<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle color="Rouge">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{'INFO-PRODUIT' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <h2 padding text-center> " Obtenez plus d'infos sur un produit marqué d'un QRCode !" </h2>
    <ion-card-content text-justify>

      <p>Cliquez sur le bouton ci-dessous et "Scanner" les QRCodes de nos produits pour obtenir plus d'informations...</p>

    </ion-card-content>
  </ion-card>

    <button ion-button icon-right block outline color="Rouge" full round (click)="scan()">
      Scanner
      <ion-icon name="barcode"></ion-icon>
    </button>


  <ion-card *ngIf="productFound">
    <ion-card-header>
      <h2>{{selectedProduct.nickname}} </h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>{{selectedProduct.plu}}</li>
        <li>{{selectedProduct.hasEmail}}</li>
        <li>{{selectedProduct.hasTelephone.hasValue}}</li>
      </ul>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="podFound ">
    <ion-card-header>
      <img *ngIf="selectedPod.imageproduit" [src]="selectedPod.imageproduit.guid">
    </ion-card-header>
    <ion-card-content>
      <h2>{{selectedPod.title.rendered}} </h2>
      <p [innerHTML]="selectedPod.content.rendered" >

      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

