

<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle color="Rouge">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{'ABOUT' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

	<ion-card>
    <img src="assets/img/slide1.png"/>
	  <ion-card-content text-justify>
      <p>L'application est disponible gratuitement sur AppStore et GooglePlay.</p>
      <hr>
      <p>Merci de lire avec attention les différentes modalités d’utilisation de cette l'application avant d’y parcourir ses pages. En vous connectant sur cette application, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les informations légales de cette application sont listées ci-dessous :</p>
    </ion-card-content>
	</ion-card>

  <ion-list>
    <ion-item *ngFor="let a of abouts ; let i=index " text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3>
        {{a.title}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>
      <div *ngIf="isGroupShown(i)">{{a.description}}</div>
    </ion-item>
  </ion-list>

</ion-content>
