<ion-header>

	<ion-navbar color="dark">

			<button ion-button menuToggle icon-only>
				<ion-icon name="menu" color="Rouge"></ion-icon>
			</button>

		<ion-title>{{'ADDPOST' | translate}}</ion-title>

	</ion-navbar>

</ion-header>

<ion-content>


      <div padding>

        <h6 [hidden]="lastImage === true" [hidden]="lastImage2 !== null">vous devez ajouter une photo ! </h6>
      <!--<h6 [hidden]="lastImage !== false">vous devez ajouter une photo!</h6>-->


        <button [hidden]="photoUploaded === true " ion-button icon-right full color="Rouge" (click)="presentActionSheet()">
          Selectionner une Photo
          <ion-icon name="camera"></ion-icon>
        </button>

      <!--<button [hidden]="photoUploaded === true " ion-button color="Rouge" icon-right full (click)="takePhoto()" >-->
        <!--Prendre une Photo <ion-icon name="camera" ></ion-icon>-->
      <!--</button>-->

        <img src="{{pathForImage(lastImage2)}}" style="width: 100%" [hidden]="lastImage2 === null">
        <button ion-button icon-right full color="Rouge"(click)="uploadImage()" [hidden]="lastImage2 === null">
          Enregistrer cette Photo
          <ion-icon name="cloud-upload"></ion-icon>
        </button>

      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon  [hidden]="photoUploaded === true" name="trash" class="deleteIcon" (click)="deletePhoto(id)" ></ion-icon>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

        <button [hidden]="photoUploaded === true " ion-button color="Rouge" icon-right full *ngIf="lastImage === true" (click)="uploadPhoto()" >
          Choisir cette Photo <ion-icon name="cloud-upload" ></ion-icon>
        </button>

      </div>


  <form *ngIf="photoUploaded === true" (ngSubmit)="addNews()">
    <ion-item>
      <ion-label stacked >titre</ion-label>
      <ion-input type="text" placeholder="titre" [(ngModel)]="title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked >Description</ion-label>
      <ion-textarea placeholder="description " [(ngModel)]="content" name="content"></ion-textarea>
    </ion-item>

    <div padding >
    <button *ngIf="photoUploaded === true " ion-button  color="Rouge" type="submit" block >{{ 'ADDPOST' | translate }}</button>
    </div>
  </form>
</ion-content>
