<ion-header>

	<ion-navbar color="dark">

			<button ion-button menuToggle icon-only>
				<ion-icon name="menu" color="Rouge"></ion-icon>
			</button>

		<ion-title>{{'ADDSUGGESTION' | translate}}</ion-title>

	</ion-navbar>

</ion-header>

<ion-content>


      <div padding>

      <h4 [hidden]="lastImage !== null">Ajouter une photo!</h4>

      <button ion-button icon-right full (click)="takePhoto()" >
        Prendre une Photo <ion-icon name="camera" ></ion-icon>
      </button>

      <!--<button ion-button icon-right full (click)="uploadPhoto()" >-->
        <!--Upload Photo <ion-icon name="cloud-upload" ></ion-icon>-->
      <!--</button>-->

      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon  name="trash" class="deleteIcon" (click)="deletePhoto(id)" ></ion-icon>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      </div>


  <form (ngSubmit)="addMenudujour()">
    <ion-item>
      <ion-label stacked >titre</ion-label>
      <ion-input type="text" placeholder="titre de la suggestion" [(ngModel)]="title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked >Description</ion-label>
      <ion-textarea placeholder="détails de la suggestion" [(ngModel)]="content" name="content"></ion-textarea>
    </ion-item>

    <ion-item>
    <ion-label stacked>Prix</ion-label>
    <ion-input type="text" placeholder="Prix ex: 18,50 " [(ngModel)]="price" name="prix"></ion-input>
    </ion-item>


    <div padding>
    <button ion-button  color="Rouge" type="submit" block >{{ 'ADDSUGGESTION' | translate }}</button>
    </div>
  </form>
</ion-content>
