
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle color="Rouge">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title> Ajouter des  photos </ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h6 [hidden]="lastImage === true">Prendre une photo & l'uploader !</h6>

  <button ion-button icon-right full color="Rouge"(click)="takePhoto()" >
    Prendre une Photo <ion-icon name="camera" ></ion-icon>
  </button>


  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">

            <ion-icon  name="trash" class="deleteIcon" (click)="deletePhoto(id)" ></ion-icon>
            <img [src]="photo" *ngIf="photo" />

        <ion-card-content>
          <ion-buttons >
            <button ion-button icon-right full color="Rouge"(click)="uploadPhoto()" [disabled]="lastImage === false">
              Uploader la Photo <ion-icon name="cloud-upload"></ion-icon>
            </button>
          </ion-buttons>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
