page-imgcapture{

  .card{
    background-color: color($colors, dark);


    p, h1, h2 {

      color: color($colors, light);
    }

  }

  .block {
    position: relative;
    .deleteIcon {
      position: absolute;
      color: color($colors, danger);
      margin-left: 90% ;
    }
    .deleteIcon:before {
      font-size: 30px ;
    }
  }

}
